<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124651869393-ltesak1b105pdokk0651ulgikifjuc1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124651869393-ltesak1b105pdokk0651ulgikifjuc1n</string>
	<key>API_KEY</key>
	<string>AIzaSyByTUFT-LJgSqRBLsnYLJfkwpswo2ox9J0</string>
	<key>GCM_SENDER_ID</key>
	<string>124651869393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwallet</string>
	<key>PROJECT_ID</key>
	<string>toss-bc839</string>
	<key>STORAGE_BUCKET</key>
	<string>toss-bc839.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124651869393:ios:56843bcd86a9b8a5bf61f0</string>
</dict>
</plist>